<!DOCTYPE html>
<html lang="en">
<section>
    <head>
        <title>Mummel</title>
        <!-- Visas överst på fönstret -->
        <meta charset="utf-8"/>
    </head>
</section>

<section>
    <body>
        <main>
            <h1>Välkommen till BurgerOnline</h1>



            <h2>SELECT BURGER!</h2>
            <div>THIS IS WHERE U EXECUTE BURGER SELECTION!</div>
            <br />
            <br />

            <table>
                <thead>
                    <tr>
                        <th>Burger Tower</th>
                        <th>Sneaker head</th>
                        <th>Veggolicious</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="https://tinyurl.com/yazksfeo" alt="BURGER TOWER!" title="EXTRA JUICY!" width="200"></td>
                        <td><img src="https://tinyurl.com/yc5nlnsh" alt="Stylish" title="Beautiful!" width="200"></td>
                        <td><img src="https://tinyurl.com/ycjyazqb" alt="NO meat" title="Healthy!" width="200"></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Very much big</li>
                                <li>Lactose bomb</li>
                                <li>Gluten free</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Wearable and eatable</li>
                                <li>Swag level over 9000!</li>
                                <li>Lactose free</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>No animal products</li>
                                <li>Attracts hipsters</li>
                                <li>Spicy very hot</li>
                            </ul>
                        </td>
                    </tr>
            </table>


            <h2>CUSTOMER INFORMATION!</h2>
            <div>NICE INFORMATION!</div>


            <h2>Delivery Information</h2>
            <p>
                <label for="fullname">First</label><br>
                <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name">
            </p>
            <p>
                <label for="email">E-mail</label><br>
                <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
            </p>
            <p>
                <label for="street">Street</label><br>
                <input type="text" id="street" name="ln" placeholder="Street name">
            </p>
            <p>
                <label for="house">House</label><br>
                <input type="text" id="house" name="ln" placeholder="House name">
            </p>

            <p>
                <label for="payment">Payment Method</label><br>
                <select id="payment" name="pay">
                    <option>Sms-loan</option>
                    <option>Istallment</option>
                    <option>Parents Credit card</option>
                    <option>Debit card</option>
                </select>
            </p>

            <h4>Gender</h4>
                <input type="radio" checked="checked" id="undisclosed" name="ln" placeholder="other">
                <label for="undisclosed" >Undisclosed</label><br>
                <input type="radio"  id="male" name="ln" placeholder="House name">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="ln" placeholder="House name">
                <label for="female">Female</label><br>
                <input type="radio" id="non" name="ln" placeholder="House name">
                <label for="non">Non-Binary</label><br>

            <button type="submit"><img src="https://tinyurl.com/y79p66eu" alt="jallarå"> Send Info</button>

        </main>

        <footer>
            <p> &copy; BENIM COPYRIGHT </p>
        </footer>

    </body>
</section>
</html>